body {
  overflow-x: hidden;
  overflow-y: hidden;
  font: 13px Helvetica, Arial;
  background: #fafafa;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 400px;
  max-width: 400px;
  min-height: 100vh;
  background: #7386d5;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -400px;
}

.sidebarCollapse {
  display: none;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

  #sidebar {
    min-width: 100vw;
    max-width: 100vw;
    margin-left: -100vw;
  }
  
  #sidebar.active {
    margin-left: 0vw;
  }
  .sidebarCollapse {
    display: block;
  }
}

/* ---------------------------------------------------
  MESSAGES
----------------------------------------------------- */

#messages, #users {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li, #users li {
  padding: 5px 10px;
}
#messages li:nth-child(odd), #users li:nth-child(odd){
  background: #eee;
}
#messages #users {
  margin-bottom: 40px;
}
